doctype html
html
  head
    meta(charset='ISO-8859-1')
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/style.css')
    link(rel='shortcut icon', href='favicon.png')
  body
    #global.container
      // https://getbootstrap.com/examples/navbar-fixed-top/
      head.container
        .navbar-header
          a.navbar-brand(href='#') ChatApp
        #navbar.navbar-collapse.collapse
      section#content.container
        h1= title
        form(method='post', action='#{redirect}/login')
          fieldset(style="width:30%;")
            .form-group
              label(for='email') Email:
              input#email.form-control(type='text', name="username", placeholder="Escreva o email de login")
            .form-group
              label(for='senha') Senha:
              input#senha.form-control(type='password', name="password", placeholder="Escreva sua senha")
            .form-group
              input.btn.btn-primary(type='submit', value="Login", style="margin-right:4px;")